@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popRotateY {
  0% {
    transform: scale(0) rotateY(180deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotateY(0deg);
    opacity: 1;
  }
}

.animate-popRotateY {
  animation: popRotateY 1.5s ease-out forwards;
}
@layer utilities {
  @keyframes fillLine {
    to {
      height: 100%;
    }
  }
  .animate-fillLine {
    animation: fillLine 3s linear forwards;
  }

  /* Active circle colors */
  .circle-inner.active1 {
    background: orange;
  }
  .circle-inner.active2 {
    background: black;
  }
  .circle-inner.active3 {
    background: orange;
  }
}